# Python bytecode:
*.py[co]

# Packaging files:
*.egg*
dist/*
MANIFEST

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# IDEs
.project
.pydevproject
.settings
.idea

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini
git 

# venv
.venv/

# Apple AuthKeys
AuthKey_*

# VSCode
.vscode

# Files used or generated during dev/testing
*.csv
*.p8
test_api_sales.py
test_api_finance.py
